@model IEnumerable<Illness>


<div class="container p3">
    <div class="row pt-4">
        <div class="col-6">
            <h3 class="text-primary">Padecimientos </h3>
        </div>
         <div class="col-6 text-end">
           <a asp-controller="Illness" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-circle-fill"></i>
               &nbsp; Agregar nuevo padecimiento
           </a>

        </div>
    </div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width=25%>@obj.Name</td>
                <td width=10%>@obj.Description</td>
                <td width="5%">
                    <a asp-controller="Illness" asp-action="Edit"  asp-route-id="@obj.Id" class="btn btn-success" style="width:100px">
                        <i class="bi bi-pencil-square"></i>&nbsp; Editar
                        </a>
                </td>
                <td width="5%">
                    <a asp-controller="Illness" asp-action="Delete"  asp-route-id="@obj.Id" class="btn btn-danger" style="width:150px">
                        <i class="bi bi-trash-fill"></i>&nbsp; Eliminar
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
